<div *ngIf="context !== null" fxLayout="column" gdGap="8px" fxLayoutAlign="stretch">
    <div fxFlex fxFlexAlign="center">
        <h3>Round {{ context.round }}</h3>
        <h3>Round {{ context.state }}</h3>
    </div>
    <div fxFlex fxFlexAlign="center">
        <div fxLayout="row">
            <mat-card fxFlex role='player' [style]="getStyleCard(0, context.getFirstPlayer())">
                <mat-card-title>{{ context.getFirstPlayer().hero.name }}</mat-card-title>
                <mat-card-content>
                    <p>[a:{{ context.getFirstPlayer()?.currentAttack }}, 
                        d:{{ context.getFirstPlayer()?.currentDefence }}, 
                        s:{{ context.getFirstPlayer()?.currentSpeed }} ]</p>
                    <p>speed: [{{ context.rollsSpeed?.get(0) }}] sum={{ context.rollsSpeedValue?.get(0) }}</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <a mat-icon-button [title]="hero.name + ' details'" routerLink="/hero-details/{{hero.id}}">
                        <mat-icon>edit</mat-icon>
                    </a>
                </mat-card-actions> -->
            </mat-card>
            <mat-card fxFlex role='player' [style]="getStyleCard(1, context.getSecondPlayer())">
                <mat-card-title>{{ context.getSecondPlayer().hero.name }}</mat-card-title>
                <mat-card-content>
                    <p>[a:{{ context.getSecondPlayer()?.currentAttack }}, 
                        d:{{ context.getSecondPlayer()?.currentDefence }}, 
                        s:{{ context.getSecondPlayer()?.currentSpeed }} ]</p>
                    <p>speed: [{{ context.rollsSpeed?.get(1) }}] sum={{ context.rollsSpeedValue?.get(1) }}</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <a mat-icon-button [title]="hero.name + ' details'" routerLink="/hero-details/{{hero.id}}">
                        <mat-icon>edit</mat-icon>
                    </a>
                </mat-card-actions> -->
            </mat-card>
        </div>
        <mat-card fxFlex [style]="'margin: 8px; min-width:400px;'">
            <mat-card-title>step: {{ context.stepPlayerIndex }}</mat-card-title>
            <mat-card-content>
                <p>attack: [{{ context.rollAttack }}]</p>
                <p>defence: [{{ context.rollDefence }}]</p>
                <p>damage: [{{ context.damage }}]</p>
                <p>damageSet: [{{ context.damageSet }}]</p>
                <p *ngIf="context.rollsRecovery">
                    recovery: [<span *ngFor="let rollRecovery of context.rollsRecovery; let i=index">{{ i == 0 ? rollRecovery : "," + rollRecovery }}</span>]
                </p>
                <p>winer: {{ context.winerPlayerIndex }}</p>
                <p>looser: {{ context.loserPlayerIndex }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>