<mat-toolbar color="primary">
    <span style="font-weight: 500">{{ title }}</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="/message" i18n="@@title.message">
        <span [matBadge]="messageService.messages.length" matBadgeColor="accent" matBadgeOverlap="false">
            Message
        </span>
    </a>
    <a mat-button routerLink="/dashboard" i18n="@@title.dashboard">Dashboard</a>
    <a mat-button routerLink="/heroes" i18n="@@title.heroes">Heroes</a>
</mat-toolbar>
<div class="content-container">
    <router-outlet></router-outlet>
</div>